[
  {
    "id": "AllOrgAdmins",
    "google_group": "org.admins@f3nation.com",
    "postsql_query": "SELECT DISTINCT u.email FROM roles_x_users_x_org rxuxo LEFT JOIN users u ON u.id = rxuxo.user_id;"
  },
  {
    "id": "OrgAdminsWithPendingRequests",
    "google_group": "org.admins.openrequests@f3nation.com",
    "postsql_query": "SELECT DISTINCT u.email FROM update_requests ur LEFT JOIN orgs o ON o.id = ur.region_id LEFT JOIN roles_x_users_x_org ruo ON ruo.org_id = o.id LEFT JOIN users u ON u.id = ruo.user_id LEFT JOIN roles r ON r.id = ruo.role_id WHERE ur.status = 'pending' AND r.name IN ('admin', 'editor');"
  }
]
